<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container" style="margin-top: 40px;">
    <div class="row">
        <form class="form" action="/people/addperson" method="POST">
            <input type="text" class="form-control" name="firstName" placeholder="First Name" />
            <br />
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" />
            <br />
            <input type="text" class="form-control" name="age" placeholder="Age" />
            <br />
            <button class="btn btn-danger">Add Person</button>
        </form>
    </div>
</div>
</body>
</html>